<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppsFlyerDemoIos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83F9AF871E5579EF00FBE510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83F9AFA01E5579EF00FBE510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83F9AFAB1E5579F000FBE510</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
